*.atsln linguist-language=C
Kitchen_timer/*.xml linguist-language=C
Kitchen_timer/*.cproj linguist-language=C

.vs/* linguist-vendored
image/*.png linguist-language=C
Kitchen_timer/Debug/* linguist-vendored
